{% extends 'articles/base.html' %}
{% load bootstrap4 %}
{% load gravatar %}
{% block body %}
<div class="row">
  <div class="col-6">
    <h1 class="text-center">
      <i class="fas fa-grin-tongue-wink animated infinite bounce delay-2s"></i>
      <i class="fas fa-heart fa-2x animated infinite bounce delay-2s" style="color: red;"></i>
      <img src="{{ user.email|makehash }}" alt="">
      <br>
      {{ user_profile.username }}의 프로필
    </h1>
  </div>
  <div class="col-6">
      {% with user_profile.followers.all as followers %}
      <a href="{% url 'accounts:follow' user_profile.pk %}">
          {% if user in followers %}
            팔로우 취소
          {% else %}
            팔로우
          {% endif %}
        </a>
        <h2>팔로우 : {{ user_profile.followings.all.count }}</h2>
        <h2>팔로워 : {{ user_profile.followers.all }}</h2>
        <h2>팔로워 : {{ followers|length }}</h2>
        {% endwith %}
  </div>
</div>
{% if user == user_profile %}
  <h2>내가 쓴 글({{ user_profile.article_set.all.count }})</h2>
    {% for article in user_profile.article_set.all %}
      <a href="{% url 'articles:detail' article.pk %}">
        <p>{{ article.title }} : {{ article.content }}</p>
      </a>
    {% endfor %}
    <hr>
    <h2>내가 작성한 댓글({{ user_profile.comment_set.all.count }})</h2>
    {% for comment in user_profile.comment_set.all %}
      <p>
        <a href="{% url 'articles:detail' comment.article_id %}">
          {{ comment.article_id }}글의 {{ comment.content}}
        </a>
      </p>
    {% endfor %}
    <hr>
    <h2> 좋아요한 글({{ user_profile.like_articles.all.count }})</h2>
    {% for article in user_profile.like_articles.all %}
      <p>
        <a href="{% url 'articles:detail' article.pk %}">
          {{ article.title }} : {{ article.content }}
        </a>
      <p>
    {% endfor %}
{% endif %}
{% endblock %}

