{% extends 'articles/base.html' %}
{% load bootstrap4 %}
{% block body %}
<h1>{{ article.id }}번 글</h1>
<h2>{{ article.title }}</h2>
<h3>작성자 : <a href="{% url 'accounts:profile' article.user.pk %}">{{ article.user }}</a></h3>
{% if image %}
  <img src="{{ image.url }}" alt="{{ image.name }}" width="500">
{% endif %}
<p>작성일자 : {{ article.created_at }}</p>
<p>수정일자 : {{ article.updated_at }}</p>
<hr>
<p>{{ article.content|linebreaksbr }}</p>
{% load hashtag %}
<p>{{ article|make_link|safe }}</p>
<p>{{ article.content }}</p>
<p>{{ article.like_users.count }}명이 이 글을 좋아합니다.</p>
<a href="{% url 'articles:like' article.pk %}">
  {% if user in article.like_users.all %}
  <i class="fas fa-heart fa-2x animated infinite bounce delay-2s" style="color: red;"></i>
  {% else %}
  <i class="far fa-heart fa-2x animated infinite bounce delay-2s" style="color: red;"></i>
  {% endif %}</a>
<hr>
<h3>댓글</h3>
{% if user.is_authenticated %}
<form action="{% url 'articles:comment_create' article.pk %}" method="POST" class="form">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">댓글 작성</button>
  {% endbuttons %}
</form>
{% endif %}
<h4>댓글 수 : {{ comments.count }}</h4>
<h4>위와 동일 : {{ article.comments_set.all.count %}</h4>
{% for comment in article.comment_set.all %}
<p><b>{{ comment.user.username }}</b> {{ comment.content }}</p>
{% if comment.user == user %}
<form action="{% url 'articles:comment_delete' comment.pk %}" method="POST" onclick="return confirm('정말로 삭제하시겠습니까?')">
  {% csrf_token %}
  <input type="submit" value="댓글 삭제">
</form>
{% endif %}
<hr>
{% empty %}
<p>작성된 댓글이 없습니다.</p>
{% endfor %}
<hr>
<h3>html에서 comment_set.all로 접근하기</h3>
<h3>첫번째 값은 comment.0</h3>
<h3>두번째 값은 comment.1</h3> 
{% for comment in article.comment_set.all %}
<li>{{ comment.content }}</li>
<hr>
{% endfor %}
<a href="{% url 'articles:index' %}">목록으로</a>
<!-- 주석 {# #} -->
<!-- <a href="{# url 'articles:delete' article.pk #}">X</a> -->
<!-- 인자 2개일 때 : {# url 'articles:delete' article.pk comment.pk #} -->
{% if article.user == user %}
<form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('정말로 삭제하시겠습니까?')">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
<!-- articles/ 이런식으로 슬래쉬 안하면 상대경로로 됨 주의! -->
  <a href="{% url 'articles:update' article.pk %}">수정하기!</a>
{% endif %}
{% endblock %}